body {
    font-family: 'Rokkitt', serif;
    font-size: 100%;
    /*background-color: #F6F4B7;*/
    background-color: white;
    position: relative;
    min-height: 100vh;
}

th {
    text-align: center;
}

h2 {
    color: #2A45C1;
    text-align: center;
}

h3 {
    color: #238A0A;
    text-align: center;
}

#subtitulos {
    color: #F218BA;
    font-size: 20px;
}

#subtitulos1 {
    color: #238A0A;
    font-size: 20px;
}

#subtitulos2 {
    color: #9415E1;
    font-size: 20px;
}

footer {
    background-color: #232328;
    color: white;
    font-size: 90%;
    padding: 10px;
    text-align: center;
}

#colorfila {
    background-color: darksalmon;
}