{%extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Proyecto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Coseno/Jaccard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="preg2">Regresión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="preg3">Librería</a>
            </li>
        </ul>
    </div>
</nav>
<!--##############################-->
<div class="container">
    <br>
    <b><h2>Análisis de sentimientos</h2></b>
    <h5><img src="/static/twitter.png" width="50" height="50"> La consulta de tweets se puede realizar hasta 7 días anteriores de la fecha actual. Las consultas son hechas en Ecuador</h5>
    <hr>
    <form method="post" action="/">
        <img src="/static/lupa.png" width="30" height="30">Consulta: <input type="text" name="consulta" id="consulta" placeholder="Inserte su consulta" required></li>
        <ul>
            <br><br>
            <li>Cantidad de Tweets: <input type="number" id="cant" name="cant" value="1" min="0" max="1000" step="1" /></li>
            <br><br>
            <li>Desde: <input type="date" name="fechainicio" step="1" /></li>
            <br><br>
            <li>Hasta: <input type="date" name="fechafinal" step="1" /></li>
        </ul>
        <center>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </center>
    </form>
    <hr>
</div>
<hr> {% endblock %}