{%extends "layout.html" %} {% block content %}
<div class="container">
    <br>
    <b><h2>Análisis de sentimientos</h2></b> Consulta:
    <form method="post" action="/">
        <input type="text" name="consulta" id="consulta" placeholder="Inserte su consulta" required>
        <br>
        <br> Cantidad de Tweets: <input type="number" id="cant" name="cant" value="1" min="0" max="1000" step="1" />
        <br><br> Desde: <input type="date" name="fechainicio" min="2020-06-01" max="2020-06-07" step="1" />
        <br><br> Hasta: <input type="date" name="fechafinal" min="2020-06-01" max="2020-06-07" step="1" />
        <center>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </center>
    </form>
    <hr>
    <!--aqui va el cod del bloc de notas-->
</div>
<hr> {% endblock %}