{%extends "layout.html" %} {% block content %}
<div class="container">
    <br>
    <h2>Análisis de sentimientos</h2>

    <input type="text" name="consulta" id="consulta" placeholder="Inserte su consulta" required>
    <br>
    <center>
        <button type="button" class="btn btn-primary">Aceptar</button></center>

    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> FECHA</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TWEET</th>
                <th scope="col">Coseno</th>
                <th scope="col">Jaccard</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tweet %}
            <tr>
                <td> {{t[0]}}</td>
                <td>{{t[1]}}</td>
                <td>{{t[2]}}</td>{% endfor%}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}