{%extends "layout.html" %} {% block content %}
<div class="container">
    <br>
    <b><h2>Análisis de sentimientos</h2></b>
    <h5><img src="/static/twitter.png" width="50" height="50"> La consulta de tweets se puede realizar hasta 7 días anteriores de la fecha actual. Las consultas son hechas en Ecuador</h5>
    <hr>
    <form method="post" action="/">
        <img src="/static/lupa.png" width="30" height="30">Consulta: <input type="text" name="consulta" id="consulta" placeholder="Inserte su consulta" required></li>
        <ul>
            <br><br>
            <li>Cantidad de Tweets: <input type="number" id="cant" name="cant" value="1" min="0" max="1000" step="1" /></li>
            <br><br>
            <li>Desde: <input type="date" name="fechainicio" min="2020-06-01" max="2020-06-07" step="1" /></li>
            <br><br>
            <li>Hasta: <input type="date" name="fechafinal" min="2020-06-01" max="2020-06-07" step="1" /></li>
        </ul>
        <center>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </center>
    </form>
    <hr>
    <b>Consulta:</b> {{con}} en Ecuador<br>
    <b>Desde: </b>{{inicio}}<br>
    <b>Hasta: </b>{{final}}<br>
    <b>Cantidad de tweets: </b>{{cant_tw}}<br>
    <hr>
    <!--aqui va el cod del bloc de notas-->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> FECHA</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TWEET</th>
                <th scope="col">Coseno</th>
                <th scope="col">Jaccard</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tweet %}
            <tr>
                <td> {{t[0]}}</td>
                <td>{{t[1]}}</td>
                <td>{{t[2]}}</td>
                <td>{{t[3]}}</td>
                <td>{{t[4]}}</td>
                {% endfor%}
        </tbody>
    </table>
    <hr>
</div>
<b><h2>Porcentaje de análisis</h2></b>
<div class="main row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <table class="w3-table-all">
            <tr class="w3-pink">
                <th scope="col">Sentimientos</th>
                <th scope="col">Coseno</th>
                <th scope="col">Jaccard</th>
            </tr>
            <tr>
                <td><b>Tweets Positivos:</b></td>
                <td>{{pc[0]}} %</td>
                <td>{{pj[0]}} %</td>
            </tr>
            <tr>
                <td><b>Tweets Negativos:</b></td>
                <td>{{pc[1]}} %</td>
                <td>{{pj[1]}} %</td>
            </tr>
            <tr>
                <td><b>Tweets Neutros:</b></td>
                <td>{{pc[2]}} %</td>
                <td>{{pj[2]}} %</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr> {% endblock %}