{%extends "layout.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Proyecto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Coseno/Jaccard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Regresión</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Librería<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <br>
    <b><h2>Análisis de sentimientos con TextBlob</h2></b>
    <h5><img src="/static/twitter.png" width="50" height="50"> La consulta de tweets se puede realizar hasta 7 días anteriores de la fecha actual. Las consultas son hechas en Ecuador</h5>
    <hr>
    <form method="post" action="/">
        <img src="/static/lupa.png" width="30" height="30">Consulta: <input type="text" name="consulta" id="consulta" placeholder="Inserte su consulta" required></li>
        <ul>
            <br><br>
            <li>Cantidad de Tweets: <input type="number" id="cant" name="cant" value="1" min="0" max="1000" step="1" /></li>
            <br><br>
            <li>Desde: <input type="date" name="fechainicio" min="2020-06-01" max="2020-06-07" step="1" /></li>
            <br><br>
            <li>Hasta: <input type="date" name="fechafinal" min="2020-06-01" max="2020-06-07" step="1" /></li>
        </ul>
        <center>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </center>
    </form>
    <hr>
    <b>Consulta:</b> {{con}} en Ecuador<br>
    <b>Desde: </b>{{inicio}}<br>
    <b>Hasta: </b>{{final}}<br>
    <b>Cantidad de tweets: </b>{{cant_tw}}<br>

    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> FECHA</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">TWEET</th>
                <th scope="col">Análisis</th>
            </tr>
        </thead>
        <tbody>
            {% for t in resultado %}
            <tr>
                <td> {{t[0]}}</td>
                <td>{{t[1]}}</td>
                <td>{{t[2]}}</td>
                <td>{{t[3][0]}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    <hr>

</div>
<hr> {% endblock %}